<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BR Architects</title>
  </head>

  <body>
    <header>
      <h1>
        <span class="country">BR</span>
        <span class="company">Architects</span>
      </h1>
    </header>

    <main>
      <section id="l-projects">
        <h2 class="subtitles">Projects</h2>
        <div class="l-subtitle-divider"></div>

        <p class="section-descriptions">
          Lorem Ipsum is simply dummy text of the printing and typesetting indestry.
        </p>

        <div class="l-grid_layout">
          <div class="image-container">
            <div class="film">
              <h3 class="image-title">Barn House</h3>
              <h4 class="publication-date">January, 2021</h4>
            </div>

            <figure>
              <img src="/public/images/barn-house.jpg" alt="Image of Barn House">
              <figcaption class="image-legend">Barn House</figcaption>
            </figure>
          </div>

          <div class="image-container">
            <div class="film">
              <h3 class="image-title">Brick House</h3>
              <h4 class="publication-date">January, 2021</h4>
            </div>

            <figure>
              <img src="/public/images/brick-house.jpg" alt="Image of Barn House">
              <figcaption class="image-legend">Brick House</figcaption>
            </figure>
          </div>

          <div class="image-container">
            <div class="film">
              <h3 class="image-title">Renovated</h3>
              <h4 class="publication-date">January, 2021</h4>
            </div>

            <figure>
              <img src="/public/images/renovated.jpg" alt="Image of Barn House">
              <figcaption class="image-legend">Renovated</figcaption>
            </figure>
          </div>

          <div class="image-container">
            <div class="film">
              <h3 class="image-title">Summer House</h3>
              <h4 class="publication-date">January, 2021</h4>
            </div>

            <figure>
              <img src="/public/images/summer-house.jpg" alt="Image of Barn House">
              <figcaption class="image-legend">Summer House</figcaption>
            </figure>
          </div>

          <div class="image-container">
            <div class="film">
              <h3 class="image-title">Barn House</h3>
              <h4 class="publication-date">January, 2021</h4>
            </div>

            <figure>
              <img src="/public/images/barn-house.jpg" alt="Image of Barn House">
              <figcaption class="image-legend">Barn House</figcaption>
            </figure>
          </div>

          <div class="image-container">
            <div class="film">
              <h3 class="image-title">Brick House</h3>
              <h4 class="publication-date">January, 2021</h4>
            </div>

            <figure>
              <img src="/public/images/brick-house.jpg" alt="Image of Barn House">
              <figcaption class="image-legend">Brick House</figcaption>
            </figure>
          </div>
        </div>

        <div class="l-section-divider"></div>
      </section>

      <section id="l-about">

      </section>
    </main>
  </body>
</html>